/* James Peralta*/
/* 30010233*/
/* Lab B02*/

/* General Layout CSS*/
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #dedede;
}

#screen {
    width: 100vw;
    height: 100vh;
    border: 0;
    outline: 0;
}

.container {
    width: 100%;
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}


.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.row1 {
    flex-grow: 1;
}

/* Chat Screen CSS */
#chat-component {
    /*height: 100%;*/
}

#chat-component p {
    height: 2vh;
}

#chat-display {
    display: flex;
    height: 80vh;
    overflow: auto;
    list-style-type: none;
}

#chat-div {
    display: flex;
    flex-direction: row-reverse;
    /*class="d-flex flex-column-reverse"*/
    height: 100%;
    width: 100%;
    background-color: #7d7d7d;
}

#chat-content {
    list-style-type: none;
    /*height: 100%;*/
    width: 100%;
    overflow:hidden;
    overflow-y:scroll;
    padding-left: 12px;
    margin-bottom: 10px;
    color: white;
}

#current-user {
    /*overflow: hidden;*/
}

#msg-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Online Users */
#online-users-component {
    /*height: 100%;*/
}

#online-users-component p {
    height: 2vh;
}

#user-display {
    display: flex;
    height: 80vh;
    overflow: auto;
    list-style-type: none;
}

#user-div {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #7d7d7d;
}

#user-content {
    list-style-type: none;
    width: 100%;
    overflow:hidden;
    overflow-y:scroll;
    padding-left: 12px;
    margin-bottom: 10px;
}

/* Input box */
#send-button {
    width: 100%;
    height: 80%;
    margin-top: 5px;
}
